@import 'tailwindcss';
@config "../../tailwind.config.mjs";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --bg: #ffffff;
  --bg-secondary: #fafafa;
  --text: #00020d;
  --text-secondary: #191b25;
  --text-link: #637dff;
  --accent: #e67575;

  --media-brand: 245 245 245;
  --media-focus: 78 156 246;
}

@theme inline {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-background: var(--bg);
  --color-secondary: var(--bg-secondary);
  --color-foreground: var(--text);
  --color-accent: var(--accent);
  --color-link: var(--text-link);

  --shadow-top: 0px -3px 6px 0px rgba(0, 0, 0, 10%);

  --animate-progress: progress 4.9s;

  @keyframes progress {
    0% {
      width: 0;
      background: #191b25;
    }
    100% {
      width: 100%;
      background: #191b25;
    }
  }
}

:root[data-theme='dark'] {
  --bg: #00020d;
  --bg-secondary: #191b25;
  --text: #ffffff;
  --text-secondary: #6f7787;
  --accent: #e67575;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}
