@import 'tailwindcss';

:root {
  --bg: #ffffff;
  --bg-secondary: #b2b3b6;
  --text: #00020d;
  --text-secondary: #191b25;
  --border: #6f7787;
  --accent: #4f6cfd;
}

@theme inline {
  --color-background: var(--bg);
  --color-secondary: var(--bg-secondary);
  --color-foreground: var(--text);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #00020d;
    --bg-secondary: #191b25;
    --text: #ffffff;
    --text-secondary: #6f7787;
    --border: #6f7787;
    --accent: #4f6cfd;
  }
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}
